<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Account</title>
  </head>
  <body>
    <div>
      <p>Hello <%- name %></p>
      ,
      <br />

      <p>
        This is to acknowledge that you created an Account with us
        <p>Your OTP is: <br/><strong><%- otp %></strong><br/>you would use it to verify your account</p>
        <p>Please verify your account by clicking on the verify button below.</p>
      </p>
      <br />
      <br />
   
      <div style="width: 100%; display: flex; justify-content: center">
        <a
          style="
            padding: 5px 12px;
            border-radius: 5px;
            background-color: darkmagenta;
            color: white;
          "
          href="<%- url %>"
          >Verify Account</a
        >
      </div>
    </div>
  </body>
</html> -->
